<div class="container login-div-container">
    <div class="container login-div-subcontainer">
        <h1 class="login-header">A&W User Login</h1>
        <%= form_with url: login_path, method: :post, class: "login-form" do |f| %>
        <div class="login-divs">
            <label for="username">Enter your username:</label>
            <br>
            <%= f.text_field :name, placeholder: "Username" %>
        </div>
        <div class="login-divs">
            <label for="password">Enter your password:</label>
            <br>
            <%= f.password_field :password, placeholder: "Password" %>
        </div>
        <div class="reset-password">
            <a href="#">Forgot your password?</a>
        </div>
        <div class="login-buttons">
            <%= f.submit "Login", class: "buttons login-button"%>
            <%= link_to "Sign Up", signup_path, class: "buttons signup-button"%>
        </div>
        <% end %>
    </div>
</div>