<div class="main-container signup-div-container">
    <div class="main-container signup-div-subcontainer">
        <h1 class="signup-header">A&W User Registration</h1>
        <%= form_with model: @user, local: true, method: :post, class: "signup-form" do |f| %>
        <div class="signup-divs">
            <label for="username">Enter a username:</label>
            <br>
            <%= f.text_field :name, placeholder: "Username" %>
        </div>
        <div class="signup-divs">
            <label for="password">Enter a password:</label>
            <br>
            <%= f.password_field :password, placeholder: "Password" %>
        </div>
        <div class="signup-divs">
            <label for="verifypassword">Verify your password:</label>
            <br>
            <%= f.password_field :password_confirmation, placeholder:"Verify password" %>
        </div>
        <div class="signup-divs">
            <label for="email">Enter your email:</label>
            <br>
            <%= f.email_field :email, placeholder: "Email" %>
        </div>
        <div class="signup-divs">
            <label for="street_address">Enter your street address:</label>
            <br>
            <%= f.text_field :street_address, placeholder:"Street Address" %>
        </div>
        <div class="signup-divs">
            <label for="city">Enter your city:</label>
            <br>
            <%= f.text_field :city, placeholder:"City" %>
        </div>
        <div class="signup-divs">
            <label for="postal_code">Enter your postal code:</label>
            <br>
            <%= f.text_field :postal_code, placeholder:"Postal Code" %>
        </div>
        <div class="signup-divs">
            <label for="province">Enter your province:</label>
            <br>
            <%= f.select :province_id, 
                    options_from_collection_for_select(Province.all, :id, :name), {prompt: "Select a province/territory"},
                    style: "color-scheme: light;"
                %>
        </div>
        <div class="signup-buttons">
            <%= link_to "Login", login_path, class: "buttons login-button"%>
            <%= f.submit "Sign Up", class:"buttons signup-button" %>
        </div>
        <% end %>
    </div>
</div>