<section id="all-products">
    <%= render "layouts/navbar" %>
    <div class="main-container mainproducts-container">
        <h1 class="title is-2 menu-heading">Our Menu</h1>

        <!-- Catgorey filters -->
        <div class="menu-nav">
            <ul>
                <li class="<%= 'is-active' if params[:category].blank? %>">
                    <%= link_to "All", products_path %>
                </li>
                <li class="<%= 'is-active' if params[:category] == 'Burgers' %>">
                    <%= link_to "Burgers", products_path(category: "Burgers") %>
                </li>
                <li class="<%= 'is-active' if params[:category] == 'Drinks' %>">
                    <%= link_to "Drinks", products_path(category: "Drinks") %>
                </li>
                <li class="<%= 'is-active' if params[:category] == 'Sides' %>">
                    <%= link_to "Sides", products_path(category: "Sides") %>
                </li>
                <li class="<%= 'is-active' if params[:category] == 'Combos' %>">
                    <%= link_to "Combos", products_path(category: "Combos") %>
                </li>
            </ul>
        </div>

        <!-- Search bar -->
        <div class="searchbar-div">
            <%= form_with url: products_path, method: :get, class: "menu-searchbar" do |f| %>
            <div class="field has-addons">
                <!-- make products the root to get feature mark -->
                <div class="control is-expanded search-input">
                    <%= f.text_field :search, class: "input", placeholder: "Search products...", value: params[:search] %>
                </div>
                <div class="control">
                    <%= f.select :category, [['All Categories', ''], ['Burgers', 'Burgers'], ['Sides', 'Sides'], ['Drinks', 'Drinks'], ['Combos', 'Combos']], {}, class: "select" %>
                </div>
                <div class="control">
                    <%= f.submit "Search", class: "button is-primary" %>
                </div>
            </div>
            <% end %>
        </div>

        <!-- Products -->
        <div class="products-div columns is-multiline">
            <% @products.each do |p| %>
            <div class="column is-one-quarter">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3"></figure>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</section>