<section id="all-products">
    <%= render "layouts/navbar" %>
    <div class="main-container">
        <h1 class="title is-2 menu-heading">Our Menu</h1>

        <!-- Catgorey filters -->
        <div class="menu-nav">
            <ul>
                <li class="<%= 'is-active' if params[:category].blank? %>">
                    <%= link_to "All", products_path %>
                </li>
                <li class="<%= 'is-active' if params[:category] == 'Burgers' %>">
                    <%= link_to "Burgers", products_path(category: "Burgers") %>
                </li>
                <li class="<%= 'is-active' if params[:category] == 'Drinks' %>">
                    <%= link_to "Drinks", products_path(category: "Drinks") %>
                </li>
                <li class="<%= 'is-active' if params[:category] == 'Sides' %>">
                    <%= link_to "Sides", products_path(category: "Sides") %>
                </li>
                <li class="<%= 'is-active' if params[:category] == 'Combos' %>">
                    <%= link_to "Combos", products_path(category: "Combos") %>
                </li>
            </ul>
        </div>

        <!-- Search bar -->
        <div>
            <%= form_with url: products_path, method: :get, class: "menu-searchbar" do |f| %>
            <div class="field has-addons">
                <!-- make products the root to get feature mark -->
            </div>
            <% end %>
        </div>

        <!-- Products -->
        <div>
            <% @products.each do |product| %>
            <div class="card">
                <% if product.image.attached? %>
                <%= image_tag product.image, alt: product.name %>
                <% else %>
                <div class="placeholder-image">No Image</div>
                <% end %>
                <h3><%= product.name %></h3>
                <p>$<%= product.price %></p>
            </div>
            <% end %>
        </div>
    </div>
</section>